<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>공지사항 상세보기</title>

  <!-- 사이드바 CSS -->
  <link rel="stylesheet" th:href="@{/css/admin/managerSidebar.css}">
  <link rel="stylesheet" th:href="@{/css/notice/detail.css}">

</head>
<body>

<div class="wrapper">
  <!-- 사이드바 추가 -->
  <div class="adminSidebarWrap">
    <div class="sidebar" th:replace="~{fragments/managerSidebar :: sidebar}"></div>
  </div>

  <!-- 공지사항 상세보기 컨텐츠 -->
  <div class="notice-container">
    <div class="notice-details">
      <table>
        <tr>
          <th>제목</th>
          <td th:text="${notice.title}">공지사항 제목</td>
        </tr>
        <tr>
          <th>작성일</th>
          <td th:text="${#temporals.format(notice.createdAt, 'yy/MM/dd')}">작성일</td>
        </tr>
      </table>
      <div class="content" th:utext="${notice.content}">공지사항 내용</div>
    </div>

    <div class="notice-actions">
      <a href="/admin/notice/{id}/edit" th:href="@{/admin/notice/{id}/edit(id=${notice.noticeId})}">수정</a>
      <a href="/admin/notice/{id}/delete" th:href="@{/admin/notice/{id}/delete(id=${notice.noticeId})}" class="delete" onclick="return confirm('삭제하시겠습니까?')">삭제</a>
    </div>
  </div>
</div>

</body>
</html>